.contenedor{
	
	/*background-color: blue;*/
	
	display: flex;
	flex-direction: row;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	justify-content: space-between;
	
	}


.rojo{
	/* position:static; */
	
	font-size: 15px;
	width: 150px;
	height: 150px;
	background-color: red;
	color: white;
	display: flex;
	justify-content:center;
	align-items: center;
}

.azul{
	/* position:static; */

	font-size: 15px;
	width: 150px;
	height: 150px;
	background-color: blue;
	color: white;	  
	display: flex;
	justify-content: center;
	align-items: center;

	
}

.verde{
	/* position:static; */

	font-size: 15px;
	width: 150px;
	height: 150px;
	background-color: green;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}


